.font {
    font-size: 40pt;
}
.color {
    color: white;
}
.b_font_t {
    font-size: 14pt;
}
.b_font_b {
    font-size: 11pt;
}






/* Header------------------------------------------------------------------------------------------------------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgb(21, 21, 21);
    width: 100%;
}
header img {
    margin: 0px 0px 0px 80px;
}
nav {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 80px 0px 0px;
}
.sub_nav {
    text-align: right;
    margin: 8px 15px 2px 0px;
    color: rgba(166, 166, 166, 1);
}
.sub_nav a:link {
    color: rgba(166, 166, 166, 1);
    text-decoration: none;
}
.sub_nav a:hover {
    color: rgba(166, 166, 166, 1);
    text-decoration: underline;
}
.sub_nav a:visited {
    color: rgba(166, 166, 166, 1);
    text-decoration: none;
}
#main_nav{
    text-align: right;
    margin: 2px 0px 2px 0px;
    font-size: 18px;
}
#main_nav a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}
#main_nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin: 0px 15px 0px 15px;
}
#main_nav a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

/* Dropdown Button */
.dropbtn {
    color: rgba(166, 166, 166, 1);
    background-color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
#dropdown-content {
    display: none;
    position: absolute;
}
/* Links inside the dropdown */
#dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover {
    background-color: #7e7e7e;
    border-radius: 10%;
}
.dropdown:hover #dropdown-content {
    display: block;
    background-color: #939393;
    border-radius: 10%;
}


/* Main Content--------------------------------------------------------------------------------------------*/
#main_banner {
    display: flex;
    flex-direction: column;

    background-image: url(../images/home_page/NavMainPage.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;

    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#main_banner h1 {
    margin-top: 150px;
    margin-bottom: 0px;
    font-size: 56px;
}
#main_banner h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 30%;
}

/* Car History Page */
#car_h {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(126, 121, 121, 1);
    border-top: 10px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mid_pic_b_p {
    display: flex;
    flex-direction: row;
}
#car_h h1{
    font-size: 36pt;
    margin-left: 22%;
}
#pic_fig {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 5%;
}
#car_h img {
    width: 95%;
    height: 100%;
    margin-left: 5%;
}
#b_p_r {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
}
#b_p_r blockquote{
    padding: 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-size: 12pt;
}
#b_p_r p {
    padding: 10px;
    font-size: 12pt;
}

/* Car Details Page */
#car_det_page {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(126, 121, 121, 1);
    border-top: 10px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#car_det {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#car_det_page h1{
    margin-left: 29%;
    font-size: 36pt;
}
#pic_only_l, #pic_only_r {
    width: 40%;
    margin: 2%;
    margin-bottom: 5%;
}
#pic_only_l img {
    width: 90%;
    height: 80%;
}
#pic_only_r img{
    width: 90%;
    height: 80%;
}
#t_pic_mid {
    width: 60%;
}
#t_pic_mid img {
    width: 90%;
    height: auto;
    margin-top: 1%;
    padding-bottom: 5%;
}
#t_pic_mid p {
    font-size: 14pt;
    margin-top: 2%;
}

/* New Car Details */
#new_model {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(126, 121, 121, 1);
    border-top: 10px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#new_model h1{
    margin-left: 29%;
    font-size: 36pt;
}
#vid_det {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#details, #designs{
    width: 25%;
    margin: 0% 2% 2% 2%;
}
#info_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#info_button p {
    width: 60%;
    margin: 0% 2% 2% 2%;
    font-size: 14pt;
}
#info_button a {
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    background-color: rgba(244, 233, 170, 1);
    margin-right: 7%;
    margin-top: 5%;
    height: 10%;
    padding: 2%;
}
#info_button a:link {
    text-decoration: none;
    color: black;
}
#info_button a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(243, 224, 116);
}
#info_button a:visited {
    text-decoration: none;
    color: black;
}

/* Sign Up page */
#sign_up {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(126, 121, 121, 1);
    border-top: 10px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#informed {
    text-align: center;
    margin-bottom: 2%;
}
#informed h1 {
    font-size: 36px;
    padding-bottom: 1%;
}
#informed p {
    font-size: 16pt;
    margin-bottom: 1%;
}
#informed label {
    font-size: 14pt;
    margin-top: 2%;
}
#informed #email {
    width: 20%;
    height: 20px;
    margin-top: 2%;
    border: 2px solid rgb(54, 54, 54);
}
.ap_button {
    width: 5%;
    height: 20%;
    margin-top: 2%;
    background-color: rgba(244, 233, 170, 1);
    color: black;
    border-radius: 5%;
}
.ap_button:hover {
    background-color: rgb(243, 224, 116);
}

/* Footer --------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(36,36,36,1);
    width: 100%;   
}

footer h4 {
    text-align: center;
    color: white;
    padding: 5px;
}

/* Footer icons */
#soc_med_icon {
    text-align: center;
}
.fa {
    margin: 0px 10px 0px 10px;
    padding: 5px;
    font-size: 16px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
} 
.fa-facebook {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
} 
.fa-twitter {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.fa-youtube {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.fa-instagram {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

footer address {
    text-align: center;
    color: white;
}

/* Footer links */
#footer_links{
    text-align: center;
}
#footer_links a:link {
    color: rgb(244, 244, 244, 0.75);
    font-size: 12pt;
    margin: 5px 12px 5px 12px;
}
#footer_links a:hover {
    color: rgb(244, 244, 244, 0.75);
    text-decoration: none;
    margin: 5px 12px 5px 12px;
    
}
#footer_links a:visited {
    color: rgb(244, 244, 244, 0.75);
    margin: 5px 12px 5px 12px;
}

/* Footer copyright */
hr {
    width: 100%;
}
footer p {
    text-align: center;
    color: white;
    font-size: 8pt;
}