/* Author: Anhelina Romanchuk. Date: May 20-25, 2024. 
Created a website with three pages "Home", "Garage", "Contact Us". 
The theme is the MAZDA car brand. */

.font {
    font-size: 40pt;
}
.color {
    color: white;
}




/* Header------------------------------------------------------------------------------------------------------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgb(21, 21, 21);
    width: 100%;
}
header img {
    margin: 0px 0px 0px 80px;
}
nav {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 80px 0px 0px;
}
.sub_nav {
    text-align: right;
    margin: 8px 15px 2px 0px;
    color: rgba(166, 166, 166, 1);
}
.sub_nav a:link {
    color: rgba(166, 166, 166, 1);
    text-decoration: none;
}
.sub_nav a:hover {
    color: rgba(166, 166, 166, 1);
    text-decoration: underline;
}
.sub_nav a:visited {
    color: rgba(166, 166, 166, 1);
    text-decoration: none;
}
#main_nav{
    text-align: right;
    margin: 2px 0px 2px 0px;
    font-size: 18px;
}
#main_nav a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}
#main_nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin: 0px 15px 0px 15px;
}
#main_nav a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

/* Dropdown Button */
.dropbtn {
    color: rgba(166, 166, 166, 1);
    background-color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
#dropdown-content {
    display: none;
    position: absolute;
}
/* Links inside the dropdown */
#dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover {
    background-color: #7e7e7e;
    border-radius: 10%;
}
.dropdown:hover #dropdown-content {
    display: block;
    background-color: #939393;
    border-radius: 10%;
}


/* Main Content--------------------------------------------------------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
}

#main_banner {
    display: flex;
    flex-direction: column;

    background-image: url(../images/garage/designer_car.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;
}
h4 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
#audio {
    position: relative;
    margin-top: 38%;
    left: 30%;
    right: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
}

/* Crossovers and SUVs */
.m_c {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(126, 121, 121, 1);
    border-top: 10px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text {
    font-size: 36pt;
    margin-left: 35%;
}
.content {
    display: flex;
    flex-direction: row;
}
.description {
    width: 50%;
    margin-left: 2%;
    margin-right: 2%ss;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4%;
}
.extra, .seats, .engine {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14pt;
}
.description a {
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    background-color: rgba(244, 233, 170, 1);
    padding: 5px;
    margin-left: 30%;
}
.description a:link {
    text-decoration: none;
    color: black;
}
.description a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(243, 224, 116);
}
.description a:visited {
    text-decoration: none;
    color: black;
}

/* Sign Up page */
#sign_up {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(126, 121, 121, 1);
    border-top: 10px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#informed {
    text-align: center;
    margin-bottom: 2%;
}
#informed h1 {
    font-size: 36px;
    padding-bottom: 1%;
}
#informed p {
    font-size: 16pt;
    margin-bottom: 1%;
}
#informed label {
    font-size: 14pt;
    margin-top: 2%;
}
#informed #email {
    width: 20%;
    height: 20px;
    margin-top: 2%;
    border: 2px solid rgb(54, 54, 54);
}
.ap_button {
    width: 5%;
    height: 20%;
    margin-top: 2%;
    background-color: rgba(244, 233, 170, 1);
    color: black;
    border-radius: 5%;
}
.ap_button:hover {
    background-color: rgb(243, 224, 116);
}

/* Footer --------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(36,36,36,1);
    width: 100%;   
}

footer h4 {
    text-align: center;
    color: white;
    padding: 5px;
}

/* Footer icons */
#soc_med_icon {
    text-align: center;
}
.fa {
    margin: 0px 10px 0px 10px;
    padding: 5px;
    font-size: 16px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
} 
.fa-facebook {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
} 
.fa-twitter {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.fa-youtube {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.fa-instagram {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

footer address {
    text-align: center;
    color: white;
}

/* Footer links */
#footer_links{
    text-align: center;
}
#footer_links a:link {
    color: rgb(244, 244, 244, 0.75);
    font-size: 12pt;
    margin: 5px 12px 5px 12px;
}
#footer_links a:hover {
    color: rgb(244, 244, 244, 0.75);
    text-decoration: none;
    margin: 5px 12px 5px 12px;
    
}
#footer_links a:visited {
    color: rgb(244, 244, 244, 0.75);
    margin: 5px 12px 5px 12px;
}

/* Footer copyright */
hr {
    width: 100%;
}
footer p {
    text-align: center;
    color: white;
    font-size: 8pt;
}